@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "GetOrderHistory";
}

<h1>Order History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType.Description)
            </th>
            <th>
                Products
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Description)
                </td>
                @foreach (var product in item.OrderProducts)
                {
                    <td>
                        @product.Product.Title
                    </td>
                    <td>
                        <a asp-controller="ProductRatings" asp-action="Details" asp-route-id="@product.ProductId">Rate</a>
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
