@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "GetOrderHistory";
}

<h1>Order History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType.Description)
            </th>
            <th>
                Products
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Description)
                </td>
                @foreach (var product in item.OrderProducts)
                {
                    <td>
                        @product.Product.Title
                    </td>
                    if (product.Product.Ratings == null)
                    {
                        <td>
                            <form asp-action="RateProduct" enctype="multipart/form-data">
                                <input type="hidden" value="@product.Product.ProductId" id="productId" name="productId" />
                                <input type="submit" value="Rate" class="btn btn-primary" />
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <select class="form-control" id="rating" name="rating">
                                        <option value="">Rate This Product</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                    }
                    else
                    {
                        int pRating = product.Product.Ratings.FirstOrDefault(p => p.ProductId == product.ProductId).Rating;
                        if (pRating < 1)
                        {
                            <td>
                                <form asp-action="RateProduct" enctype="multipart/form-data">
                                    <input type="hidden" value="@product.Product.ProductId" id="productId" name="productId" />
                                    <input type="submit" value="Rate" class="btn btn-primary" />
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <select class="form-control" id="rating" name="rating">
                                            <option value="">Rate This Product</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    /5
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                @pRating /5
                            </td>
                        }
                    }
                }
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
